h1 {
	color: #333;
	margin-top: 0.5em;
	margin-bottom: 0 !important;
}

.bg-primary,
a {
	color: #ec5263
}

.btn-primary {
	background-color: #ec5263;
	border-color: #f47484
}

.btn-primary:hover {
	background-color: #f47484;
	border-color: #f47484
}

a:hover {
	color: #f47484;
	text-decoration: none;
}

ul {
	padding-inline-start: 0px;
}

ul {
	list-style: none;
}

ul li {
	padding: 0.25em 0;
}

ul li:before {
	content: "•";
	font-size: 10pt;
}

.nonlink {
	color: #ec5263;
}

.nonlink:hover {
	color: #000;
	cursor: pointer;
}

.btn-primary.btn-lg {
	margin: 0.5em 0.25em;
}

img {
	width: 100%;
}

.articles {
	background: #222;
	color: white;
}

footer {
	background-color: #ec5263;
	color: #fff;
}

footer a {
	color: white;
}

footer a:hover {
	color: white;
	text-decoration: underline;
}












/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */
/* Exo thin font from Google. */
@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
body {
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 1.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 1.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 1.92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 1.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}