* {
  box-sizing: border-box;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
}
/* styles */
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
h1,
h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  text-shadow: 2px 2px #ffccff;
}
.container {
  padding: 0.25em;
  margin: auto;
  max-width: 640px;
}
.header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  font-size: 1.5em;
  text-align: center;
  z-index: 999;
  border-bottom: 1px solid #ffccff;
}
.header h1,
.header h1 a {
  color: black;
  margin: 0.5em 0;
}
.header a:hover {
  text-decoration: none;
}
.tab {
  background-color: #ffe6ff;
  text-align: center;
}
.tab button {
  display: inline-block;
  padding: 0.5em;
  font-size: 1.25em;
  background-color: inherit;
  float: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
@media (min-width: 620px) {
  .tab button {
    padding: 1em;
  }
}
.tab button:hover {
  background-color: white;
}
.tab button.active {
  text-decoration: underline;
}
.tabcontent {
  display: none;
  animation: fadeEffect 1s;
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.note {
  margin: 2.5em auto;
  text-align: center;
}
.note a.button {
  border-radius: 1px;
  padding: 0.5em;
  margin: 0.25em;
  font-size: 1.15em;
  color: black;
  border-right: 1px solid #ff4dff;
  border-bottom: 1px solid #ff4dff;
  background-color: #ffb3ff;
  text-decoration: none;
  cursor: pointer;
}
.note a.button:hover {
  border-top: 1px solid #ff4dff;
  border-left: 1px solid #ff4dff;
  border-right: 0;
  border-bottom: 0;
  background-color: #ffb3ff;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table tr:hover {
  background: #ffffff;
}
td {
  text-align: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
  }
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    color: #555;
  }
  .employment {
    /*
  	Label the data
  	*/
  }
  .employment td:nth-of-type(1):before {
    content: "Since";
  }
  .employment td:nth-of-type(2):before {
    content: "Organisation";
  }
  .employment td:nth-of-type(3):before {
    content: "Business Type";
  }
  .employment td:nth-of-type(4):before {
    content: "Job Title";
  }
  .skill {
    /*
  	Label the data
  	*/
  }
  .skill td:nth-of-type(1):before {
    content: "Skill";
  }
  .skill td:nth-of-type(2):before {
    content: "Discipline";
  }
  .skill td:nth-of-type(3):before {
    content: "Desc";
  }
}
.footer {
  text-align: right;
  margin-top: 2.5em;
  color: #555;
}
