// colours

@color-brand: #afeeee; // light cyan
@color-second: #afeecf; // light green
@color-third: #afcfee; // blue
@mobile-width: 620px;

// global styling

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
}

/* layout */

.container {
  padding: 0.25em;
  margin: auto;
  max-width: 640px;
}

  .row {
     display: flex;
  }
  .col {
    flex-basis: auto;
  }

// other styles

.intro {
  font-size: 1.25em;
}

.header {

  padding-top: 2em;
  padding-bottom: 3em;

  background-color: @color-brand;
  font-size: 1.5em;
  border-bottom: 1px solid white;

  h1, h1 a {
    color: black;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
  }

  a:hover {
    text-decoration: none;
  }

  &.sticky {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;

    h1, h2 {
      display: inline-block;
      font-size: 1.25em;
      transition: 0.4s;
      margin: 0.25em auto;
    }

    p {
      display: none;
    }
  }
}

/* styles */

a {
  text-decoration: none;
  cursor: pointer;
  color: darken(@color-third, 50%);

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    // color: blue;
  }
}

h1, h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  text-shadow: 2px 2px @color-brand;
}

// tabs

.tab {
  overflow: hidden;
  border: 1px solid @color-brand;
  background-color: lighten(@color-brand, 5%);

  button {
    font-size: 1em;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;

    &:hover {
      background-color: white;
    }

    &.active {
      background-color: darken(@color-brand, 25%);
    }
  }
}

.tabcontent {
  display: none;
  padding: 1em 2em;
  border: 1px solid @color-brand;
  border-top: none;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.note {
  margin: 2.5em auto;
  text-align: center;

  a.button {
    border-radius: 1px;
    padding: 0.5em;
    margin: 0.25em;
    font-size: 1.15em;

    border-right: 1px solid darken(@color-brand, 25%);
    border-bottom: 1px solid darken(@color-brand, 25%);

    background-color: darken(@color-brand, 5%);
    text-decoration: none;
    cursor: pointer;

    &:hover {

      border-top: 1px solid darken(@color-brand, 25%);
      border-left: 1px solid darken(@color-brand, 25%);
      border-right: 0;
      border-bottom: 0;

      background-color: darken(@color-brand, 5%);
    }
  }
}

// table

table {
  border-collapse: collapse;
  width: 100%;

  td, th {
    //border: 1px solid #dddddd;
    text-align: left;
    padding: 1em 0.5em;
  }

  tr {

    &:nth-child(even) {
      background-color: #eee;
    }

    &:hover {
      background: lighten(@color-brand, 15%);
    }

  }
}

// grid
.grid {
  display: flex;

  div {

    width: 50%;

  }
}

.footer {
  text-align: right;
  margin-top: 2.5em;
  color: #777;
}
