// colours
@color-brand: #ffccff;
@mobile-width: 620px;

// global styling

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
}

/* styles */

a {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

h1, h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  text-shadow: 2px 2px @color-brand;
}

.container {
  padding: 0.25em;
  margin: auto;
  max-width: 640px;
}

.header {

  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;
  font-size: 1.5em;
  text-align: center;

  h1, h1 a {
    color: black;
    margin: 0.5em 0;
  }

  a:hover {
    text-decoration: none;
  }
}

.tab {

  background-color: lighten(@color-brand, 5%);
  text-align: center;

  button {
    display: inline-block;
    font-size: 1.25em;
    background-color: inherit;
    float: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1em 2em;
    transition: 0.3s;

    &:hover {
      background-color: white;
    }

    &.active {
      text-decoration: underline;
    }
  }
}

.tabcontent {
  display: none;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.note {
  margin: 2.5em auto;
  text-align: center;

  a.button {
    border-radius: 1px;
    padding: 0.5em;
    margin: 0.25em;
    font-size: 1.15em;

    color: black;
    border-right: 1px solid darken(@color-brand, 25%);
    border-bottom: 1px solid darken(@color-brand, 25%);

    background-color: darken(@color-brand, 5%);
    text-decoration: none;
    cursor: pointer;

    &:hover {

      border-top: 1px solid darken(@color-brand, 25%);
      border-left: 1px solid darken(@color-brand, 25%);
      border-right: 0;
      border-bottom: 0;

      background-color: darken(@color-brand, 5%);
    }
  }
}

table {
  border-collapse: collapse;
  width: 100%;

  td, th {
    //border: 1px solid #dddddd;
    text-align: left;
    padding: 1em 0.5em;
  }

  tr {

    &:nth-child(even) {
      background-color: #eee;
    }

    &:hover {
      background: lighten(@color-brand, 15%);
    }

  }
}

.footer {
  text-align: right;
  margin-top: 2.5em;
  color: #555;
}
